In [25]:
import pandas as pd

df = pd.read_csv('jobData/unique_data.csv', encoding='gbk')
print(df.shape)
df.head()

(1906, 11)

,职位名称,薪水,工作地点,经验要求,学历要求,职位标签,公司名称,详情链接,市,最低工资,最高工资
0,(感知/预测/决策/规划/控制) 算法工程师,2.5万-5万 · 14薪,上城,5-10年,本科,感知、预测、决策、规划、控制,上海亿捷兆成科技有限公司,http://jobs.zhaopin.com/CCL1460390540J40392834...,杭州,29166.666667,58333.333333
1,(自动驾驶) SLAM算法工程师 35-70万年薪,2.5万-5万 · 14薪,上城,5-10年,本科,SLAM算法、导航算法、地图定位,上海亿捷兆成科技有限公司,http://jobs.zhaopin.com/CCL1460390540J40392834...,杭州,29166.666667,58333.333333
2,.NET平台b/s架构开发工程师,4千-8千,上虞区,经验不限,大专,C#、HTML、SQL、多线程、消息队列、微服务架构、软件工程师、中级软件工程师、Windo...,上海布恩信息科技有限公司,http://jobs.zhaopin.com/CCL1471487210J40556627...,绍兴,4000.000000,8000.000000
3,10k 信息流投手+13薪 社保,1万-1.2万,钱塘,3-5年,学历不限,今日头条、广点通、快手、数据分析、0-1投流二类电商经验、直购、跑过CID,浙江爱才人力资源股份有限公司,http://jobs.zhaopin.com/CCL1278433670J40540546...,杭州,10000.000000,12000.000000
4,15k 汽车维修专家+双休 六险一金,1万-1.5万,余杭,3-5年,大专,乘用车、汽车维修技师、高级汽车维修工、国家低压电工证、汽车保养、拆装维修、故障诊断、软件刷写...,浙江爱才人力资源股份有限公司,http://jobs.zhaopin.com/CCL1278433670J40531628...,杭州,10000.000000,15000.000000

In [26]:
df.groupby(['市', '工作地点']).size().to_frame('数量').reset_index()  # 按城市和工作地点分组，统计数量

     市     工作地点  数量
0   丽水       丽水   1
1   丽水  景宁畲族自治县   1
2   丽水      缙云县   2
3   丽水      莲都区  10
4   台州      三门县   2
..  ..      ...  ..
81  金华      兰溪市   1
82  金华      婺城区   6
83  金华      永康市   2
84  金华      金东区   7
85  金华       金华   7

[86 rows x 3 columns]

In [27]:
print(df['学历要求'].unique())  # 查看经验要求的类别
df.groupby('学历要求').size().sort_values(ascending=False).to_frame('数量').reset_index()

['本科' '大专' '学历不限' '博士' '硕士' '初中及以下' '高中' '中专/中技']

    学历要求    数量
0     本科  1252
1     大专   331
2     硕士   225
3   学历不限    56
4     博士    26
5     高中    12
6  中专/中技     3
7  初中及以下     1

In [28]:
can_work = df[(df['经验要求'] == '经验不限') & (df['学历要求'] != '硕士') & (df['学历要求'] != '博士')].shape[0]
print(can_work)
print(can_work / df.shape[0])  # 可应聘占比

495
0.25970619097586567

In [29]:
df.groupby('经验要求').size().sort_values(ascending=False)  # 经验

经验要求
经验不限     602
1-3年     564
3-5年     541
5-10年    170
1年以下      19
10年以上     10
dtype: int64

In [30]:
from collections import Counter
count = Counter()
for tag in df['职位标签']:
    count.update(Counter(str(tag).split('、')))
count_dic = dict(sorted(count.items(), key=lambda x: x[1], reverse=True))
del count['nan']
count_df = pd.DataFrame(count_dic.items(), columns=['标签', '数量'])
count_df

                   标签   数量
0              Python  609
1                Java  255
2                数据分析  230
3                 C++  191
4                 nan  155
...               ...  ...
1953  H.264/H.263/VP8    1
1954          CODEC相关    1
1955             数字信号    1
1956             语音识别    1
1957             检测算法    1

[1958 rows x 2 columns]